/*
   Import partials below
*/
@import 'normalize';
@import 'helpers/typografic';
@import 'components/base';
@import 'helpers/constans';
@import 'components/header';
@import 'components/services';
@import 'components/about';
@import 'components/contacts';