$main-text-color: #fff;
$header-links-hober:#74c7d5;
$h1-headline:#74c7d5;
$p-team-list-hover:#df5c64;
$headline-color-first:#74c7d5;
$team-names:#c7b6c5;


$headline-font:'LatoL';
$first:'LatoEB';

//Service item background
$service-item-color:rgba(176, 41, 49, .4);


// team-section-fonts
$meet-the-team:'LatoEB';

//team-section-colors

$p-team-list:#a1ca6c;
$status-team:#ff8973;
$facebook-team:#4f689e;
$Twitter-team:#74c7d5;
$Google-team:#df5c64;
$Linkedid-team:#3e61af;


// footer-colors
$footer:#68a097;
$socials:#82c8bd;
$bg-ask:#68aaa1;
$text-ask:#ccc;
$button:#df5c64;
$input-text:#000;

//footer-fonts
$button-text-color:'LatoEB';
$footer-text:'LatoR';
