$main-text-color: #fff;
$header-links-hober:#74c7d5;
$h1-headline:#74c7d5;
$p-team-list:#a1ca6c;
$p-team-list-hover:#df5c64;
$headline-color-first:#74c7d5;




$headline-font:'LatoL';
$first:'LatoEB';
