@font-face {
  font-family: 'LatoL';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v15-latin-300.woff2') format('woff2'),url('../fonts/lato-v15-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'LatoR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), url('../fonts/lato-v15-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'LatoEB';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v15-latin-900.woff2') format('woff2'),url('../fonts/lato-v15-latin-900.woff') format('woff');
}
