
.contacts {
  background-image: url("../images/bg-contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:41px ;
  padding-bottom: 124px;
  

}


.contacts_content {
  margin-bottom: 124px;
}

.contacts_headline {
  text-align: center;
  font-size: 60px;
  font-family: 'LatoL';
  font-weight: 300;
  color: $main-text-color;
  margin-bottom: 40px;
}


.word {
  color: #ec9da2;
}

.contacts_text {
  font-size: 14px;
  font-family: LatoR;
  line-height: 30px;
  color: $main-text-color;
  margin-bottom: 60px;
  text-align: center;
}

.contacts_items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts_item {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
  width: 260px;
  height: 400px;
  margin-right: 20px;
  background-color: rgba(83,68,81,.8);
  &:hover {
    & .contacts_item_headline {
      transition: all .5s linear;
      color:$main-text-color;
    }

    & .contacts_item_text {
      transition: all .5s linear;
      color: $status-team;
    }

    & .contacts-socials-round:nth-of-type(1) {
      transition: all .5s linear;
      background-color: $facebook-team;
    }

    & .contacts-socials-round:nth-of-type(2) {
      transition: all .5s linear;
      background-color:$Twitter-team;
    }

    & .contacts-socials-round:nth-of-type(3) {
      transition: all .5s linear;
      background-color: $Google-team;
    }

    & .contacts-socials-round:nth-of-type(4) {
      transition: all .5s linear;
      background-color: $Linkedid-team;
    }
  }
}
.footer{
 height: 150px;
 width: 100%;
  background-color: #68a097;
  padding-top: 25px;
  padding-bottom: 25px;

}
@media (max-width: 1099px) {


.contacts_item_icon {
  width: 167px;
  height: 167px;
  margin-bottom: 25px;
  font-size: 25px;
  font-family: 'LatoEB';
  color: $team-names;

}
.contacts_item:hover {
  color: #ec9da2;

}



.contacts-socials{
  display: flex;
  justify-content: space-between;
  width: 194px;
  height: 40px;
}

.contacts-socials-round {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(161,133,158,.9);
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.socials_item_icon {
  display: block;
  margin: auto;
  width: 15px;
  height: 15px;
 fill: #fff;
}
.facebook{
  width: 10px;
}

