.contacts {
  background-image: url("../images/bg-contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 124px;
}


.contacts_content {
  margin-bottom: 124px;
}

.contacts_headline {
  text-align: center;
  font-size: 60px;
  font-family: 'LatoL';
  font-weight: 300;
  color: $main-text-color;
  margin-bottom: 40px;
}

.word {
  color: #ec9da2;
}

.contacts_text {
  font-size: 14px;
  font-family: LatoR;
  line-height: 30px;
  color: $main-text-color;
  margin-bottom: 60px;
  text-align: center;
  margin-bottom: 120px;
}

.contacts_items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts_item {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
  width: 260px;
  height: 400px;
  margin-right: 20px;
  background-color: rgba(83, 68, 81, .8);

  &:hover {
    & .contacts-socials-round {
      transition: all .5s linear;
      background-color: $facebook-team;
    }
  }
}

.content_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.info_box {
  font-size: 0;
  width: 540px;
  height: 220px;
}

.google-map {
  display: block;
  width: 260px;
  height: 220px;
}

.address {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;

}

.text_info {
  width: 260px;
  height: 220px;
  font-family: $headline-font;
  font-size: 16px;
  line-height: 21px;
  color: $main-text-color;
}

.p_1 {
  margin-bottom: 20px;
}

.p_3 {
  margin-bottom: 59px;
}

.list_span {
  display: inline-block;
  width: 75px;
  padding-right: 25px;
}

.numbers_list {
  list-style: none;

  & a {
    color: $main-text-color;
  }
}

.address_headline {
  font-size: 30px;
  font-family: $headline-font;
  color: $main-text-color;
  font-weight: 300;
  margin-bottom: 35px;
}

.ask_box {
  color: $main-text-color;
  width: 540px;
  height: 220px;

}

.inputs_area {
  display: inline-block;
  width: 258px;
  height: 40px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  font-size: 16px;
  font-family: $footer-text;
  line-height: 21px;
  padding-left: 20px;
  margin-bottom: 20px;
  color: $text-ask;

  &:nth-of-type(1) {
    margin-right: 20px;
  }
}

.first_input {
  background-color: $bg-ask;
  color: $main-text-color;
  cursor: pointer;
}

.first_input:focus  {
  background-color: $main-text-color;
  cursor: text;
}

.text_area:focus {
  background-color: $main-text-color;
  cursor: text;
  
}

.second_input {
  color: black;
}

.text_area {
  width: 540px;
  height: 160px;
  border-radius: 5px;
  border: none;
  resize: both;
  font-size: 16px;
  font-family: $footer-text;
  color: $main-text-color;
  line-height: 21px;
  padding-top: 15px;
  padding-left: 20px;
  background-color: $bg-ask;
  margin-bottom: 30px;
  cursor: pointer;
}

.send_button {
  display: block;
  border: none;
  width: 260px;
  height: 50px;
  border-radius: 5px;
  font-size: 26px;
  font-family: $button-text-color;
  cursor: pointer;
  margin: 0 auto;
  color: $main-text-color;
  background-color: $button;

}

.footer {
  padding: 2rem 0;
  width: 100%;
  background-color: rgba(117, 180, 170, 1);

  .container {
    padding-top: 0;
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 540px;
  margin: 0 auto;
}

.footer-socials-round {
  display: flex;
  width: 63px;
  height: 60px;
  border-radius: 50%;
  background-color: $socials;
}

.footer_item_icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  cursor: pointer;

  &.facebook {
    width: 16px;
  }
}

::-webkit-input-placeholder {
  color: $text-ask;
}

::-moz-placeholder {
  color: $text-ask;
}

:-moz-placeholder {
  color: $text-ask;
}

:-ms-input-placeholder {
  color: $text-ask;
}

@media (max-width: 1130px) {
  .contacts {
    padding-bottom: 170px;
  }

  .info_box {
    width: 100%;
    height: auto;
  }

  .text_info {
    height: auto;
    margin-right: 70px;
  }

  .address {
    margin-bottom: 25px;
  }

  .feedback_box {
    width: 100%;
  }

  .content_box {
    flex-direction: column;
    align-items: center;
  }

  .ask_box {
    width: 100%;
  }

  .input_box {
    width: 100%;
  }

  .inputs_area {
    width: 100%;
  }

  .text_area {
    width: 100%;
    margin-bottom: 50px;
  }

  .send_button {
    width: 200px;
  }

}

@media (max-width:767px) {
  .nav-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
  }

  .ask_box {
    height: auto;
  }

  .contacts_content {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .contacts_headline {
    font-size: 42px;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .address_headline {
    text-align: center;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
  }

  .text_info {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .inputs_area:nth-of-type(1) {
    margin-right: 0;
  }

  .footer-socials {
    width: 100%;
  }

  .footer {
    height: auto;
    padding: 2rem 0;

    .footer-socials {
      height: auto;
    }

    .container {
      padding-top: 0;
    }
  }
}
