.top-section {
  background-image: url(../../images/bg-home.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 41px;
  height: 1000px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.nav-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}

.first-headline {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 341px;
}

.header-button {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

.nav-item {
  position: relative;
  font-family: 'LatoR';
  font-size: 18px;
  &::before {
    opacity: 0;
    z-index: -1;
    content: '';
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width:100px;
    height: 80px;
    background-color: rgba(256,256,256,.1);
    transition: all .3s linear;
  }
  &:hover::before {
    opacity: 1;
    z-index: 1;
  }
  & a {
    display: block;
    text-decoration: none;
    color: $main-text-color;
    text-align: center;
    position: relative;
    z-index: 2;
}
}

.headline-box {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  width: 840px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 300px;
}

.header-button {
  display: block;
  position: absolute;
  display: block;
  color: $main-text-color;
  background: none;
  border: none;
}

.button-left {
  left: -80px;
}

.button-right {
  right: -80px;
}

.header-button svg{
  height: auto;
  width: 57px;
  fill: #d0c5b1;
}

.headline-text {
  display: block;
  width: 363px;
  font-family: $headline-font;
  font-weight: 300;
  font-size: 57px;
  line-height: 45px;
  color: $headline-color-first;
  text-align: right;

}
.second-text{
  font-family: $first;
  align-items: center;
  display: block;
  width: 435px;
  font-size: 138px;
  color: $headline-color-first;

}
.rounds-items{
  display: flex;
  width: 141px;
  margin: 0 auto;

}
.rounds {
  margin: 0 auto ;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(256,256,256,.5);
  display: flex;
  justify-content:space-between;
  
  &:nth-of-type(2){
    background-color: $h1-headline;
  }
}

