.service {
  background-image: url(../images/bg-services.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 115px;

}

.service_headline {
  text-align: center;
  font-size: 60px;
  font-family: LatoL;
  font-weight: 300;
  color: $main-text-color;
  margin-bottom: 46px;
}

.service_text_1 {
  text-align: center;
  font-size: 20px;
  font-family: LatoR;
  font-weight: 400;
  color: $main-text-color;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.word {
  color: #ec9da2;
}

.service_text_2 {
  font-size: 14px;
  font-family: LatoR;
  font-weight: 400;
  color: $main-text-color;
  margin-bottom: 120px;
  text-align: center;
}

.service_items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 400px;
  margin-right: 20px;
  background-color:$services-bg-item;
  &:last-of-type {
    margin-right: 0;
  }
}

.service_item_icon {
  width: 130px;
  height: 130px;
}

.service_item_headline {
  text-align: center;
  color: $main-text-color;
  font-family: LatoL;
  font-weight: 300;
  text-transform: uppercase;
}

.service_item_text {
  text-align: center;
  color: $main-text-color;
  font-family: LatoR;
  font-weight: 400;
  width: 209px;
}

@media (max-width: 1130px) {
  .service_items{
    justify-content: center;
  }
  .service_item {
    margin: 10px;
    // margin-bottom: 0;
    // margin-right: 0;
  }
  .service_items:last-child(-n+2){
    margin-bottom: 0;
  }
  .service_items:last-child li{
    margin-right: 10px;
  }
  

}

@media (max-width: 767px) {

  .service_headline {
    font-size: 46px;
  }
  
  .service_text_1 {
    font-size: 15px;
  }
  
  .service_text_2 {
    font-size: 13px;
  }
}